@tailwind base;
@tailwind components;
@tailwind utilities;

* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}

body {
	background-color: #040116;
}

::-webkit-scrollbar {
	display:block;
	backgroundColor:white;
	width:10px;
}

::-webkit-scrollbar-thumb {
	background-color:#281D63cc;
	cursor:all-scroll
	/* border-radius:10px; */
	/* border:1px solid rgba(255,255,255,0.3) */

}	

::-webkit-scrollbar-track{
	background-color:rgba(255,255,255,0.5);
	cursor:all-scroll
	/* border-radius:10px */
}

body,
html {
	width: 100%;
}

.contactinput .ant-input::placeholder {
	color: white; 
	opacity: 0.5;    
	
}


